<div class="container-fluid">
  <div class="row" style="margin-top: 5%">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <h4 class="title" style="margin-top:6%">Timonela Fani</h4>
    </div>
    <div class="col-md-2">
      <a href="studenteditprofile.html"><button class="button button2 btn" style="width: 100%" >Edit</button></a>
    </div>
  </div><hr/>
  <div class="row" style="margin-top: 2%">
    <div class="col-md-4">
        <div class="jumbotron" style="margin-left: 10%; margin-right: 25%">
                <div class="horizontal-menu" style="width: 100%">
                        <a href="studentprofile.html" class="active">Profile</a>
                        <a href="attendedcourses.html">Attended Courses</a>
                        <a href="paymenthistory.html">Payment History</a>
                        <a href="#">Analytics</a>
                        <a href="#">Certificates</a>
                        <a href="#">Invite a friend</a>
                </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbe4bKRcCLmDct_sZbBtvOeLazW0gIAe3aUNxAm8vWJsvicGP12g" alt="profile image" width="70%" style="border-radius: 50%">
            </div>
            <div class="col-md-5" style="margin-top: 3%">
                <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;t.fani@ambrogio.al</h5>
                <h5><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Albania</h5>
                <h5><i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp;12-06-1990</h5>
                <h5><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;World rank</h5>
                <h5><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp;Private profile</h5>
            </div>
        </div> <hr/>
        <div class="row">
                <h3 class="title" style="margin-bottom:3%">Attended courses</h3></div>
                <div class="row">
                        <div class="col-md-4">
                          <div class="card">
                            <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
                            <div class="card-body">
                              <h6 class="card-title">Course title</h6>
                              <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
                              <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
                              <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
                              <div class="rating position">
                                <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
                            </div>
                          </div>     
                        </div>
                        <div class="col-md-4">
                          <div class="card">
                            <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
                            <div class="card-body">
                              <h6 class="card-title">Course title</h6>
                              <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
                              <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
                              <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
                              <div class="rating position">
                                <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
                            </div>
                          </div>   
                        </div>
                        <div class="col-md-4">
                          <div class="card">
                            <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
                            <div class="card-body">
                              <h6 class="card-title">Course title</h6>
                              <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
                              <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
                              <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
                              <div class="rating position">
                                <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
                            </div>
                          </div>   
                        </div>
                        </div><div style="margin-top: 5%" ><hr/></div>
        <div class="row" style="width: 100%">
                <div class="col-md-3" style="margin-left: 38%; margin-bottom: 9%; margin-top: 2%; width: 100%">
                <a href="attendedcourses.html"><button class="button button2 btn" style="width: 300px" >View more attended courses</button></a></div>
        </div>
    </div>
</div>
</div>
