.card-deck {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;

  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
  .inline-headers h5, .inline-headers h6 {
    display: inline-block;
    vertical-align: baseline;
  }

  .row{

    margin-left: 2px;
 
}

.position{
    margin-left: 100px ;
    margin-top: 10px 
}