<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/239x180" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Course title</h6>
      <div class="row"><h6 class="card-title ">Course instructor:</h6>&nbsp;<h6>Timonela Fani</h6></div>
      <div class="row"><h6 class="card-title ">Front-end:</h6>&nbsp;<h6>Beginner</h6></div>
      <div class="row position"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; <p>12.000</p></div>
      <div class="rating position">
        <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"><i class="fa fa-clock-o " aria-hidden="true" ></i>&nbsp;Published on 12-06-2016</small>
    </div>
  </div>
</div>
