<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img  src="assets/images/placeholder_male@2x.png" alt="" style="border-radius: 100%; margin-left: 50%; margin-top: 9%; width: 35%; " class="profileimg">
      </div>
      <div class="col-md-3" style="margin-top: 5%; margin-left: -4%;">
          <h1>Fabrizio Benelli</h1>
          <h2>Project Menager</h2><hr/>
          <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non,pretium at tellus. Integer fringilla tempus ullamcorper.</p><hr/>
          <div style='margin-left: 20%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
            <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
            <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
            <i class='fa fa-github-square' style='font-size:48px;'></i></div>
      </div>
  </div>
  <div class="row" style="margin-top:4%">
      <div class="col-md-5"><hr/></div>
      <div class="col-md-2"><p style="text-align: center; font-size: 35px; color:#294168 ">Our team</p></div>
      <div class="col-md-5"><hr/></div>
  </div>
  <div  class="container-fluid" >
      <div  class="row" style="margin-top:5%" >
          <div class="col-md-3">
            <img id="div2" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: 36%; " class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Gentjana Muça" 
            data-content="<h3>Software engineer</h3><hr/>
            <h4><i class='fa fa-code' aria-hidden='true'></i>&nbsp;&nbsp;Front-end developer</h4><hr/>
            <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
            <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
            <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
            <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
            <i class='fa fa-github-square' style='font-size:48px;'></i></div>
            " 
            data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover" >            
          </div>
          <div class="col-md-3">
             <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" alt="" style="border-radius: 100%; ; margin-top: 5%;width: 70%; margin-left: 20%;" class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Timonela Fani" 
             data-content="<h3>Software engineer</h3><hr/>
             <h4><i class='fa fa-code' aria-hidden='true'></i>&nbsp;&nbsp;Front-end developer</h4><hr/>
             <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
             <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
             <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
             <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
             <i class='fa fa-github-square' style='font-size:48px;'></i></div>
             " 
             data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">  
          </div>
          <div class="col-md-3">
              <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: 4%;" class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Adelina Beqiri" 
              data-content="<h3>Software engineer</h3><hr/>
              <h4><i class='fa fa-apple' aria-hidden='true'></i>&nbsp;&nbsp;iOS developer</h4><hr/>
              <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
              <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
              <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
              <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
              <i class='fa fa-github-square' style='font-size:48px;'></i></div>
              " 
              data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">  
          </div>
          <div class="col-md-3">
              <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: -8%;" class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Anxhela Mustafa" 
              data-content="<h3>Software engineer</h3><hr/>
              <h4><i class='fa fa-apple' aria-hidden='true'></i>&nbsp;&nbsp;iOS developer</h4><hr/>
              <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
              <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
              <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
              <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
              <i class='fa fa-github-square' style='font-size:48px;'></i></div>
              " 
              data-html="true" data-placement="left"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">  
          </div>
      </div>
  </div>

  <div class="row" style="margin-top:5%; margin-bottom: 10% ">
      <div class="col-md-3">
       <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: 36%; " class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Andi Naçollari" 
       data-content="<h3>Software engineer</h3><hr/>
       <h4><i class='fa fa-android' aria-hidden='true'></i>&nbsp;&nbsp;Android developer</h4><hr/>
        <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
       <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
       <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
      <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
       <i class='fa fa-github-square' style='font-size:48px;'></i></div>
       " 
       data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">                      
      </div>
      <div class="col-md-3">
          <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="" style="border-radius: 100%; ; margin-top: 5%;width: 70%; margin-left: 20%;" class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Desli Mane" 
          data-content="<h3>Software engineer</h3><hr/>
          <h4><i class='fa fa-cogs' aria-hidden='true'></i>&nbsp;&nbsp;Back-end developer</h4><hr/>
          <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
          <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
          <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
          <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
          <i class='fa fa-github-square' style='font-size:48px;'></i></div>
          " 
          data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">  
       </div>
       <div class="col-md-3">
          <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: 4%;" class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="Malfor Saja" 
          data-content="<h3>Software engineer</h3><hr/>
          <h4><i class='fa fa-cogs' aria-hidden='true'></i>&nbsp;&nbsp;Back-end developer</h4><hr/>
          <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
          <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
          <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
          <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
          <i class='fa fa-github-square' style='font-size:48px;'></i></div>
          " 
          data-html="true" data-placement="right"  data-trigger="hover" data-content="Click anywhere in the document to close this popover">  
      </div>
      <div class="col-md-3">
          <img  src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="" style="border-radius: 100%;  margin-top: 5%;width: 70%; margin-left: -4%; " class="profileimg profileimghover" class ="popover-medium" data-toggle="popover" title="John Doe" 
          data-content="<h3>Software engineer</h3><hr/>
          <h4><i class='fa fa-android' aria-hidden='true'></i>&nbsp;&nbsp;Android developer</h4><hr/>
           <p>Mauris rutrum sit amet purus ut porttitor. Maecenas turpis ligula, bibendum eget condimentum non, pretium at tellus. Integer fringilla tempus ullamcorper. </p><hr/>
          <div style='margin-left: 10%'><i class='fa fa-google-plus-square' style='font-size:48px;color:red'></i>
          <i class='fa fa-linkedin-square' style='font-size:48px;color:#3271B3'></i>
         <i class='fa fa-twitter-square' style='font-size:48px;color:#4998F2'></i>
          <i class='fa fa-github-square' style='font-size:48px;'></i></div>
          " 
          data-html="true" data-placement="left"  data-trigger="click" data-content="Click anywhere in the document to close this popover">                      
         </div>
</div><hr/>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>